[user]
    name = Yury Bilenkis
{% if ansible_hostname == 'yura' -%}
    email = bil9178@gmail.com
{% elif ansible_hostname == 'bilen' -%} 
    email = yury.bilenkis@ostrovok.ru
{% endif -%}
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    type = cat-file -t
    dump = cat-file -p

