<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="gmrun">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<item label="Win_server_2008">
			<action name="Execute">
				<execute>xfreerdp -a 16 -g 1900x1150 -u yura -p zgjybz -x l --plugin cliprdr win2008</execute>
			</action>
		</item>
		<item label="Win_XP">
			<action name="Execute">
				<execute>xfreerdp -a 16 -g 1900x1150 -u yurror -p zgjybz -x l --plugin cliprdr xp</execute>
			</action>
		</item>
		<item label="Radmin Win_XP">
			<action name="Execute">
				<execute>
					wine &quot;/media/data/prog/Internet/Remote/Radmin 3.4 Full/Radmin Viewer 3/Radmin.exe&quot;
				</execute>
			</action>
		</item>
		<item label="virt-manager">
			<action name="Execute">
				<execute>
					virt-manager
				</execute>
			</action>
		</item>
		<separator/>
		<item label="MATLAB 2012">
			<action name="Execute">
				<execute>/home/yura/bin/matlab.sh</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<item label="MATLAB 2011">
			<action name="Execute">
				<execute>/usr/local/MATLAB/R2011a/bin/matlab -desktop</execute>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<execute>google-chrome</execute>
			</action>
		</item>
		<item label="xbmc">
			<action name="Execute">
				<execute>
					xbmc &amp;&amp; xscreensaver-command -deactivate &gt;&amp;- 2&gt;&amp;- &amp;
				</execute>
			</action>
		</item>
		<item label="Pidgin">
			<action name="Execute">
				<execute>
					pidgin -f
				</execute>
			</action>
		</item>
		<item label="Skype">
			<action name="Execute">
				<execute>/home/yura/bin/skype.sh</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-145849" label="Transmission">
			<item label="Start">
				<action name="Execute">
					<execute>sudo start transmission-daemon</execute>
				</action>
			</item>
			<item label="Stop">
				<action name="Execute">
					<execute>sudo stop transmission-daemon</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Torchlight 2">
			<action name="Execute">
				<execute>wine &quot;/media/data/game/Torchlight 2.v 1.25.5.2 + 1 DLC/Torchlight2.exe&quot;</execute>
			</action>
		</item>
		<item label="NW">
			<action name="Execute">
				<execute>wine &quot;/media/data/game/Cryptic Studios/Neverwinter.exe&quot;</execute>
			</action>
		</item>
		<item label="WoW">
			<action name="Execute">
				<execute>/home/yura/bin/wow.sh</execute>
			</action>
		</item>
		<item label="Space Rangers HD">
			<action name="Execute">
				<execute>wine &quot;/media/data/game/Space Rangers HD.A War Apart.v 2.1.832.0/Rangers.exe&quot;</execute>
			</action>
		</item>
		<item label="WarCraft">
			<action name="Execute">
				<execute>
					wine &quot;/media/data/game/Warcraft III/Frozen Throne.exe&quot;
				</execute>
			</action>
		</item>
		<separator/>
		<item label="PacketTracer5.2">
			<action name="Execute">
				<execute>
					packettracer
				</execute>
			</action>
		</item>
		<item label="GuitarPro6.0">
			<action name="Execute">
				<execute>
					/opt/GuitarPro6/gp-launcher.sh
				</execute>
			</action>
		</item>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="ObConf">
			<action name="Execute">
				<execute>
					obconf
				</execute>
			</action>
		</item>
		<item label="ObMenu">
			<action name="Execute">
				<execute>
					obmenu
				</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item label="Hibernate">
			<action name="Execute">
				<execute>dbus-send --system --print-reply --dest=org.freedesktop.UPower /org/freedesktop/UPower org.freedesktop.UPower.Hibernate</execute>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<execute>dbus-send --system --print-reply --dest=org.freedesktop.UPower /org/freedesktop/UPower org.freedesktop.UPower.Suspend</execute>
			</action>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
